@(users: List[models.User], activeSort: String)

@main("My Web Demo") {
  <div class="row">
    <div class="span12">
      <h2>Available users</h2><div id="userNumber"> </div>
      <div id="sort">
        <span>Sort by:</span>
        <ul class="nav nav-pills">
          <li @if(activeSort == "firstName"){class="active"}><a href="@routes.userController.getUsers?sort=firstName">FirstName</a></li>
          <li @if(activeSort == "-firstName"){class="active"}><a href="@routes.userController.getUsers?sort=-firstName">-FirstName</a></li>
          <li @if(activeSort == "lastName"){class="active"}><a href="@routes.userController.getUsers?sort=lastName">LastName</a></li>
          <li @if(activeSort == "-lastName"){class="active"}><a href="@routes.userController.getUsers?sort=-lastName">-LastName</a></li>
          <li @if(activeSort == "number"){class="active"}><a href="@routes.userController.getUsers?sort=number">Number</a></li>
          <li @if(activeSort == "-<number></number>"){class="active"}><a href="@routes.userController.getUsers?sort=-number">-Number</a></li>
          <li @if(activeSort == "none"){class="active"}><a href="@routes.userController.getUsers">none</a></li>
        </ul>
      </div>
      @if(users.isEmpty) {
        <p>No users available yet.</p>
      } else {
      <ul>
      @users.map { user =>
        <li class="user"><a href="@routes.userController.showEditForm(user.id.get.stringify)">@user.firstName @user.lastName</a> <em>Number: @user.number</em> (last modified : @user.updateDate.map(u => org.joda.time.format.DateTimeFormat.forPattern("MMM dd, yyyy").print(u)).orElse(Some("n/a"))) - <a href="@routes.userController.delete(user.id.get.stringify)" class="delete">delete</a></li>
      }
      </ul>
      }
      <div>
        <a href="@routes.userController.showCreationForm">Create</a>
      </div>
    </div>
  </div>
}